doctype html
html(lang="en")
body

    form(method="POST" action="/APIV0.2/post/modi")
        input(type="hidden" name="boardId" value="#{id}")
        input(type="text" name="title" value="#{title}")
        input(type="text" name="content" value="#{content}")
        input(type="text" name="author" value="#{author}")
        input(type="submit")
