doctype html
html(lang="en")
body
    h1 Jade - node template engine

    div.col#container
        p You are amazing
        p Jade is a terse and simple

        - for (var i = 0; i < 10; ++i) {
          p #{i}
        - }
